.hospital-data
{
    margin-left: 5px;
}
.lateral-menu
{
    display: inline-block;
    margin-left: 0px !important;
}
.card
{
    padding: 15px;
    background-color: white;
    margin-top:25px;
    border-radius: 15px;
}
.card-right
{
        background-color: #FCFCFC;
    
}
body
{
    background-color: #ECF4FA;
}
.hide
{
    display: none;
    position: absolute;
    top: -9999px; 
    left: -9999px;
}
.center-text
{
    text-align: center;
    vertical-align: middle;
}
.color-bar-1
{
    background-color: #ECF4FA;
    margin-left:5px;
    margin-right:5px;
    border-radius:5px;
}
.color-bar-2
{
    margin-left:5px;
    margin-right:5px;
    border-radius:5px;
}
.yui3-button {
    margin:10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;
}